In [1]:
import requests
import json
import mysql.connector as mysl

In [2]:

url = "https://countriesnow.space/api/v0.1/countries/population/cities"

payload = {"city": "lagos"}
headers = {}

response = requests.request("POST", url, headers=headers, data=payload)

print(response.text)

{"error":false,"msg":"lagos with population","data":{"city":"Lagos","country":"Nigeria","populationCounts":[{"year":"1991","value":"5195247","sex":"Both Sexes","reliabilty":"Final figure, complete"}]}}

In [3]:
data = json.loads(response.text)
print(type(data))
data['error']

<class 'dict'>

False

In [4]:
# data['data'][0]
country = []
for item in data['data]:
    print(item['country'])
    if country.count(item['country']) >= 1:
        print('exist')
    else:
        country.append(item['country'])

SyntaxError: EOL while scanning string literal (<ipython-input-4-ab56aeb6140f>, line 3)

In [ ]:
len(country)

In [5]:
mydb = mysl.connect(
  host="localhost",
  user="root",
  password="",
  database='python_db'
)
print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000018174F56AC0>

In [6]:
mycursor = mydb.cursor()

mycursor.execute("SHOW DATABASES")

for x in mycursor:
    print(x)

('ecfr_db',)
('gubdjour_globalbook',)
('gubdjour_journals',)
('gubdjournals_db',)
('information_schema',)
('mysql',)
('old_school_boys_db',)
('performance_schema',)
('phpmyadmin',)
('python_db',)
('sdv_db',)
('sn_rsu_db',)
('sn_videos_db',)
('test',)

In [8]:
sql = "INSERT INTO python_table (name) VALUES (%s)"

val = ("John",)
mycursor.execute(sql, val)

mydb.commit()

print(mycursor.rowcount, "record inserted.")

1 record inserted.

In [ ]:
sql = "INSERT INTO python_table (name) VALUES (%s)"

val = ("John",)
for name in country:
    mycursor.execute(sql, (name))
    mydb.commit()
    print(mycursor.rowcount, "record inserted.")

In [11]:
sql = "SELECT * FROM python_table LIMIT = 10"

mycursor.execute(sql)
print(mycursor)
myresult = mycursor.fetchall()
# myresult = mycursor.fetchone()

print(myresult)
for x in myresult:
    print(x)

InternalError: Unread result found

[(1, 'John', 0)]
(1, 'John', 0)